button.btn-collapse.displayed {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: left;
}

div.well-collapse {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.well table th,
.well table td {
  background: #fff;
}
