<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <img src="./assets/images/people-running-marathon-clipart-1.png" alt="Image representing some people running a marathon" class="img-responsive" />

      <h1 class="title">Statistical study of all Lausanne marathon<br><small>From 1999 to 2016</small></h1>

      <p>Work in progress</p>

      <h2>Runners distribution</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-distribution-runners-over-years.json.zip'"></plotly>

      <h2>Number of runners evolutions</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-evolutions.json.zip'" [labels]="['Age category', 'Sex']"></plotly>

      <h2>Gender distribution</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-gender-distributions-over-years.json.zip'"></plotly>

      <h2>Age median evolution</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-age-median-evolution.json.zip'"></plotly>

      <h2>OLS fitted true</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-ols-fitted-true.json.zip'"></plotly>

      <h2>Performances</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-performances.json.zip'" [labels]="['Age category', 'Sex', 'Performance']"></plotly>

      <h2>Performances evolutions</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-evolution-performances.json.zip'" [labels]="['Age category', 'Sex', 'Performance']"></plotly>

      <h2>Performances distributions</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-performances-distribution.json.zip'" [labels]="['Age category', 'Sex', 'Performance']"></plotly>

      <h2>Comparisons</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-comparisons.json.zip'" [labels]="['Year']"></plotly>

      <h2>Teams performances</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-teams-performances.json.zip'" [labels]="['Type']"></plotly>
    </div>
  </div>
</div>
