<div class="container">
  <div class="row">
    <div class="col-lg-12">


      <img src="./assets/images/web-data-extraction.png" alt="Image representing the processing to extract data from the web" class="img-responsive"/>

      <h1 class="title">Statistical study of Lasausanne marathon 2016</h1>


      <h2 id="lamara-2016">Demographic analysis</h2>


      <div class="row">
            The marathon of Lausanne 2016 had a significantly higher percentage of males than females (6801 males compared to 4447 females).
            This gap between male and female is way bigger that the canton of vaud population (52% female, 48% male) according to <a href="https://www.bfs.admin.ch/bfs/fr/home/statistiques/population.assetdetail.1500543.html">the population study</a> .It would be interesting to determine why the Lausanne race had so many more male runners than the average. Some information about the new direction of the marathon and the explanation of the distinction male / female can be found <a href="https://www.rts.ch/sport/athletisme/1258113-le-marathon-de-lausanne-change-dorientation.html"> here </a>  From the website: <br/>
            <blockquote> "Women don't even dare start the race unless they are totaly sure about mastering the distance, unlike men who sometimes finish completely exhausted" </blockquote>
            Moreover the particitipation of stanger is around 50 à 60 %. This two fact can explain the difference of gender distribution in the marathon of lausanne.
      </div>


      <div class="row">
        <div class="thumbnail">
          <img src="./assets/images/gender_distribution.png" alt="Distibution gender marathon lausanne 2016"/>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 ">
          <div class="textContainer"> 
              In this condition there is a boom of average distance (21 km - 10 km), as we can notice from the graph the marathon (the longer distance 42 Km) seems to be a race of specialists and specially of men specialists. <br/>
              As the 10 Km is the most approachable for beginner the distibution between gender seems well balanced.
              The following distribution seems in agreement with the turn over of 2009 to limit the budget for professionals runners (mainly marathon runners).
          </div>
        </div>
        <div class="col-sm-6">
            <img src="./assets/images/gender_distribution_distance.png" alt="Distibution gender marathon lausanne 2016  selected by distance."/>
        </div>
      </div>


      <div class="row">
            Runner ages seem to be distributed normally with a mean age of 38.98 (41.65 for males and 36,87 for females ).
      </div>


      <div class="row"> 
        <div class="thumbnail">
          <img src="./assets/images/age_distirbution.png" alt="Distibution gender marathon lausanne 2016"/>
        </div>
      </div>

    <h2 id="lamara-2016">Perfomance analysis</h2>
      WIP
      
    </div>
  </div>
</div>
