<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <img src="./assets/images/data-graphic-lausanne-2016.png" alt="Image representing graphics with Marathon Lausanne 2016 written" class="img-responsive"/>

      <h1 class="title">Statistical study of Lasausanne marathon 2016</h1>

      <h2 id="demographic">Demographic analysis</h2>

      <p>
        The marathon of Lausanne 2016 had a significantly higher percentage of males than females (6801 males compared to 4447 females).
        This gap between male and female is way bigger that the canton of vaud population (52% female, 48% male) according to <a href="https://www.bfs.admin.ch/bfs/fr/home/statistiques/population.assetdetail.1500543.html">the population study</a> . It would be interesting to determine why the Lausanne race had so many male runners than the average. Some information about the new direction of the marathon and the explanation of the distinction male / female can be found <a href="https://www.rts.ch/sport/athletisme/1258113-le-marathon-de-lausanne-change-dorientation.html"> here </a>  From the website: <br/>
      </p>
      <blockquote>
        "Women don't even dare start the race unless they are totaly sure about mastering the distance, unlike men who sometimes finish completely exhausted"
      </blockquote>
      <p>
        Moreover the particitipation of stanger is around 50 à 60 %. This two fact can explain the difference of gender distribution in the marathon of lausanne.
      </p>

      <div class="thumbnail thumbnail-large">
        <img src="./assets/images/gender-distribution.png" alt="Distibution gender marathon lausanne 2016"/>
      </div>

      <div class="row row-sm-align-center">
        <div class="col-sm-4">
          <p>
            In this condition there is a boom of average distance (21 km - 10 km), as we can notice from the graph the marathon (the longest distance 42 Km) seems to be a race of specialists, tey arez few people and specially men runners. <br/>
            unlike the 10 Km is the most approachable race for beginner the distibution between gender seems well balanced.
            The following distribution seems in agreement with the turn over of 2009 to limit the budget for professionals runners (mainly marathon runners).
          </p>
        </div>
        <div class="col-sm-8">
          <div class="thumbnail">
            <img src="./assets/images/gender-distribution-distance.png" alt="Distibution gender marathon lausanne 2016  selected by distance."/>
          </div>
        </div>
      </div>

      <p>
        Runner ages seem to be distributed normally with a mean age of 38.98 (41.65 for males and 36,87 for females ). But if we look clooser we can notice marathon get older runners (with a mean equal to 42,47 years ) and the 10Km get the younger runners (with a mean equal to 37,63 years).
        The 10 Km have also the youngest and the oldest runners of the marathon of lausanne 2016, but there is a gap between 30 and 40 years where runner seems more attracted by the challenge of longer distance (Semi-Marathon and marathon) and the performance follow.
        From  <a href="https://en.wikipedia.org/wiki/Marathon"> Wikipdia </a> a large number of top marathon runners are right around 35 years old. this is l ate enough in the game that your body can use the training years that you have put into it.
      </p>

      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="./assets/images/age-distribution.png" alt="Distibution age of the Lausanne marathon 2016"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="./assets/images/age-distance-distribution.png" alt="Distibution age selected by distance of the Lausanne marathon 2016"/>
          </div>
        </div>
      </div>

      <h2 id="performance">Performance analysis</h2>

      <p>
        The below charts show time distributions by age and distance. For every races at the age of 60 the median times started to increase more steeply as age increased (with the exception of the 64 year old in marathon who beat most of 25 years old guys).
      </p>
      <blockquote>
        "The reality is, your max heart rate declines by about a beat a year."
      </blockquote>
      <p>
        As we can notice for the 10Km young peoples tend to be faster and the time increase monotonically. The time for the semi-marathon remains constant until 60 years. Finaly for the marathon the best runners are aged of 30-40 years this confirm the hypothesis that marathon runners become better later compare to other distance. <br/>
        Some explanations about the distibution of marathon performance can be found on <a href="http://www.runnersworld.com/masters/age-matters-for-marathoning">runnerworld</a>.
      </p>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="distanceSelector" class="col-sm-offset-2 col-sm-2 control-label">Select Distance:</label>
          <div class="col-sm-4">
            <select class="form-control" id="distanceSelector" [(ngModel)]="ageDistriByDistImgPath" name="distanceSelector">
              <option value="./assets/images/time-age-distribution-10.png" selected>10 Km</option>
              <option value="./assets/images/time-age-distribution-21.png">21 Km</option>
              <option value="./assets/images/time-age-distribution-42.png">42 Km</option>
            </select>
          </div>
        </div>
      </form>

      <p *ngIf="!ageDistriByDistImgPath" class="text-center lead">
        Select a distance above to see the distribution graph
      </p>

      <div *ngIf="ageDistriByDistImgPath" class="thumbnail thumbnail-large">
        <img [src]="ageDistriByDistImgPath" alt="Distibution age selected by distance of the Lausanne marathon 2016"/>
      </div>

      <div class="row row-sm-align-center">
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="./assets/images/speed-distance-distribution.png" alt="Distibution gender marathon lausanne 2016  selected by distance."/>
          </div>
        </div>
        <div class="col-sm-6">
          <p>
            Strangely the average speed isn't so different between different races of marathon Lausanne, We could expect the speed of 10km faster because the distance is smaller. <br/>
            The average marathon speed was greater than the marathon of <a href="http://www.lepape-info.com/actualite/tous-les-chiffres-du-marathon-de-paris-2015/"> Paris </a> where the average speed was 2,55 m/s (let's go Lausannes :) )
            <br/>
            The speed gap between male and female tend to decrease as distance increase, one fact could be that women don't begin the distance if they not sure to perform on distance. (cf : demographic point)
          </p>
        </div>
      </div>

      <h2 id="team">Team analysis</h2>

      <p>
        The marathon lausanne race allow runners in team, In the following study we are going to study the effect of team compare to individual runners and differenciate team members.
        The team:individual runners seems quite equivalent between the different races offered by the event. The teams are more present in the 10 km. The distance seems more appropriate for the teams, it's short enough to be a good challenge between beginner friends.
      </p>

      <div class="table-responsive">
        <table class="table table-bordered">
          <caption>Speed median by distance and type of runners</caption>
          <tr>
            <th>Distance</th>
            <th >Individuals runners</th>
            <th>Team runners</th>
          </tr>

          <tr>
            <td>10 km </td>
            <td align="center">3.02 m/s</td>
            <td align="center">3.11 m/s</td>
          </tr>
          <tr>
            <td>20 Km</td>
            <td align="center">3.07 m/s</td>
            <td align="center">3.17 m/s</td>
          </tr>

          <tr>
            <td>42 Km</td>
            <td align="center">2.97 m/s</td>
            <td align="center">3.04 m/s</td>
          </tr>
        </table>
      </div>

      <p>
        In every races the speed median of team runners is greater than individual runners but from the graph above the best performances come from individual runners.
        For "average" people, to be part of a team seems to be a motivational factor, compared to excellent runners who prefer doing the race alone.
      </p>

      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="./assets/images/type-runners-distance-histogram.png" alt="Distibution age of the Lausanne marathon 2016"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="./assets/images/speed-type-runners-distribution.png" alt="Distibution age selected by distance of the Lausanne marathon 2016"/>
          </div>
        </div>
      </div>

      <h2 id="dynamic-graph">Take the control of the data</h2>

    </div>
  </div>
</div>
