.introduction {
  padding-top: 20px;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

.textContainer {
    margin-top: 9em;
    vertical-align: middle;
    display: block;
}