<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="thumbnail thumbnail-medium">
        <img src="./assets/images/runner.jpg" alt="A runner with the sun in background"/>
      </div>

      <h1 class="title">Project on DataSport<br><small>Applied Data Analysis</small></h1>

      <h2>Abstract</h2>

      <p>
        This project aims to focus on Lausanne Marathon and, more precisely, on the analysis of the different runs (10km, semi-marathon and marathon).
        To do so, we plan to manipulate available data, from 1999 to 2016, and use different information stored about the runners and provided by <a href="https://www.datasport.com/en/" title="DataSport Website">DataSport</a>.
      </p>

      <div class="thumbnail thumbnail-small">
        <img src="./assets/images/Lausanne-by-night.jpg" alt="Picture of Lausanne, Swiss city, by night"/>
      </div>

      <h3>First part: analysis of Lausanne Marathon of 2016</h3>

      <p>
        In the present part, we will study performance of runners according to different parameters, like the sex or the age. We also plan to analyze the behavior of runners in different contexts (speed following the type of running, speed of male and female runners, ...) and see if we can find some statistical differences or some patterns.
      </p>

      <h3>Second part: analysis over the years (1999-2016)</h3>

      <p>
        This part of the study will focus on all runnings of Lausanne Marathon, between 1999 and 2016.
        Among the analysis we plan to do, there will be a presentation of the evolution of the performance following the years. We will also verify if being in group ensure better score/time or not, and possibly, we'll check if, for identified groups, we can identify an improvement of performance over the years.
        We also plan to conduct basic analysis as in the first part.
        Finally, and if possible, we'll check the influence of the weather.
      </p>

      <h3>Third part: analysis of some runners</h3>

      <p>
        In the third and last part, we will select sufficient number of runners to conduct statistical analysis, like the evolution of individual performance (type of running chosen, average speed, etc.).
      </p>

      <h2>Data description</h2>

      <div class="thumbnail thumbnail-small">
        <img src="./assets/images/datasport-logo.jpg" alt="DataSport Logo"/>
      </div>

      <p>
        This project will use data from the <a href="https://www.datasport.com/en/">www.datasport.com</a> website, containing sport performance of athletes over time.
      </p>

      <p>
        The website contains some data of running race from the entire Switzerland.
        Moreover the website contains data throughout the year, it’s going to be useful for studying the evolution of sport in our society and specially the running whose grows exponentially the last decade.
      </p>

      <h2>Feasibility and risks</h2>

      <h3>Feasibility</h3>

      <ul>
        <li>Gather the data by screen scraping the website (see homework 2)</li>
        <li>Use visualization tools to show the evolution of sport in our society throughout years (see homework 3)</li>
        <li>Statistic study of differents effects on the performance (the relief, the weather, the season of the years)</li>
      </ul>

      <h3>Difficulties</h3>

      <ul>
        <li>Different format of the data</li>
        <li>Size of data</li>
        <li>The language of the data (some data are in German, some other in French…)</li>
        <li>Get the weather of the running session</li>
        <li>Building visualisation (with unknown tools)</li>
        <li>Interpret correctly the results and build reliable statistics</li>
      </ul>

      <h2>Deliverables</h2>

      <p>
        The deliverable is going to be a website exposing our result. We are going to focus on visualization of the different data throughout the years.
      </p>

      <p>
        We should focus our study on multiple points:
      </p>

      <ul>
        <li>General overview of the running in Switzerland</li>
        <li>The demographic (maybe a competition between Swiss people and strangers)</li>
        <li>Analysis of results (maybe follow some people throws the years)</li>
        <li>Analysis focused on teams (see the effect on the performance if people compete alone or in team)</li>
        <li>Measure the effect of the relief and how people can react to it (oxygen missing, etc.) (maybe Map Visualization)</li>
        <li>Focus on the running through the years (<a href="https://youtu.be/jbkSRLYSojo">Hans Rosling's 200 Countries, 200 Years, 4 Minutes - The Joy of Stats - BBC Four</a>)</li>
      </ul>

      <h2>Timeplan</h2>

      <p>
        We plan to schedule our project on the following big steps:
      </p>

      <ul>
        <li>Gathering data and wrangling (2 month)</li>
        <li>Key point study  (1 month)</li>
        <li>Visualization / Website  (2 month)</li>
      </ul>

    </div>
  </div>
</div>
