<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <img src="./assets/images/marathon-lausanne-1999-2016-header-people-running-marathon-clipart-1.png" alt="Image representing some people running a marathon" class="img-responsive" />

      <h1 class="title">Statistical study of all Lausanne marathon<br><small>From 1999 to 2016</small></h1>

      <h2>Summary</h2>
      <ul>
        <li>
          <a routerLink="/lausanne-1999-2016" fragment="general-analysis">General analysis</a>
          <ul>
            <li><a routerLink="/lausanne-1999-2016" fragment="global-evolution-number-participants">Global evolution of number of participants</a></li>
            <li><a routerLink="/lausanne-1999-2016" fragment="global-evolution-by-gender">Global evolution by gender</a></li>
            <li><a routerLink="/lausanne-1999-2016" fragment="global-evolution-participants-numbers-by-age">Global evolution by age</a></li>
            <li><a routerLink="/lausanne-1999-2016" fragment="synthesis-global-evolution-number-participants">Synthesis of the global evolution of number of participants</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/lausanne-1999-2016" fragment="performances-analysis">Analysis of performance of Lausanne Marathon editions</a>
          <ul>
            <li><a routerLink="/lausanne-1999-2016" fragment="evolution-nb-runners-performances">Perspective evolution number of runners and performances</a></li>
            <li><a routerLink="/lausanne-1999-2016" fragment="distribution-of-the-performances">Distribution of the performances</a></li>
            <li><a routerLink="/lausanne-1999-2016" fragment="performance-of-teams">Performance of teams</a></li>
          </ul>
        </li>
        <li><a routerLink="/lausanne-1999-2016" fragment="comparison-single-edition-with-all-events">Comparison of single edition with all events</a></li>
      </ul>

      <h2 id="general-analysis">General analysis</h2>

      <p>
        After some cleaning of the <a routerLink="/scraping" title="Scraping of data">scraped data</a>, we made a general analysis of the evolution over years. The goal here was, among other things, to find out if the results of <a routerLink="/lausanne-2016" title="Study of 2016 edition of Lausanne Marathon">study of 2016 edition of Lausanne Marathon</a> was singular or could be generalised.
      </p>

      <h3 id="global-evolution-number-participants">Global evolution of number of participants</h3>

      <p>First, we made a simple histogram to obtain the global evolution of the number of runners for each running.</p>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-distribution-runners-over-years.json.zip'"></plotly>

      <p>
        We easily see some changes over the years thanks to the graph. Among other things, we identify changes due to the new direction of Lausanne Marathon which was set up in 2009. Indeed, as for 2009, number of participants started to increase again and to follow the same progression as before 2005.
        <br>
        We also notice that the number of runners of the marathon is decreasing over the years, as RTSSport mentioned it <a href="https://www.rts.ch/sport/athletisme/1258113-le-marathon-de-lausanne-change-dorientation.html">in an article dedicated to Lausanne Marathon</a> while, in the meantime, the number of runners of the 10-km running increases (note that this number is now higher than the one of semi-marathon).
      </p>

      <h3 id="global-evolution-by-gender">Global evolution by gender</h3>

      <p>
        What about the gender distribution?
      </p>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-gender-distributions-over-years.json.zip'"></plotly>

      <p>
        What we have seen for <a routerLink="/lausanne-2016" title="Study of 2016 edition of Lausanne Marathon">2016 edition of Lausanne Marathon</a> can be generalized here.
        <br>
        First, we see that women tend to prefer 10-km running, while for men, the number of participants among the different runnings is better divided.
        <br>
        Second, we see that globally, for 10-km running and for marathon, evolution is similar among the two genders. However, we observe much more variations for men than for women when we consider semi-marathon, and this even if we consider the new direction of Lausanne Marathon established in 2009.
      </p>

      <h3 id="global-evolution-participants-numbers-by-age">Global evolution by age</h3>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-age-median-evolution.json.zip'"></plotly>

      <p>
        The evolution of the age is not very relevant, even if between 2007 and 2015 there is a possible linear regression. Also, we observe that in 2016 the average age seems to increase and break the previous downwards tendency.
      </p>

      <h3 id="synthesis-global-evolution-number-participants">Synthesis of the global evolution of number of participants</h3>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-evolutions.json.zip'" [labels]="['Age category', 'Sex']"></plotly>

      <p>
        By selecting a category of young runners, we can see a real progression over the years. We can also observe a huge gap between 10-km running/semi-marathon and marathon for such categories (note that the gap tends to decrease when runners are older). Moreover, one can remark that for marathon, we see a new tendency after the introduction of new organization in 2009 (number of runners globally increases, while it was decreasing until 2009).
      </p>
      <p>
        Now, more generally, if we combine this information with the precedent plot with the global evolution of the average age over year, we see that there is no evolution; so we can say that every category increases with a perfect equilibrium. The same argument can be applied to the gender distribution. We can thus deduce that the augmentation of runners extends the repartition between genders but in the same proportion so that it doesn't change average, global, values.
      </p>

      <h2 id="performances-analysis">Analysis of performance of Lausanne Marathon's editions</h2>

      <h3 id="evolution-nb-runners-performances">Perspective evolution of number of runners and performances</h3>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-evolution-performances.json.zip'" [labels]="['Age category', 'Sex', 'Performance']"></plotly>

      <p>
        The mean time and mean speed of events of the marathon of Lausanne seem to slightly oscillate over the years, but globally remain constant. The 10-km running is the race where the pace is the highest and the marathon is the one with the lowest speed (this is what we can expect because of the difference of distance between races).
      </p>
      <p>
        From the best runners' point of view, the difference of speed between the 3 events increases with the years. This could be a direct consequence of the reconsideration of 2009 regarding the downturn of the prizes reserved to the winners: some excellent runners were probably not attracted anymore. We can also notice that 2006 was quite singular as it exposed the worst general performance.<br/>
      </p>

      <h3 id="distribution-of-the-performances">Distribution of the performances</h3>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-performances-distribution.json.zip'" [labels]="['Age category', 'Sex', 'Performance']"></plotly>

      <p>
        The speed of runners for each event tends to be quite normally distributed. However, the marathon contains more rebounds, which can be explained by two reasons. First, because winners of the different editions were not always the same (one of these best teams was <a href="http://www.arrs.net/HP_LausMa.htm">national selection of Ethiopia</a>). Second, and as we said before, previous rewards were very high compared to recent editions; thus, some good profiles have maybe abandoned this event in favour of other ones.
      </p>

      <h3 id="performance-of-teams">Performance of teams</h3>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-teams-performances.json.zip'" [labels]="['Type']"></plotly>

      <p>
        We can notice that for all events of the Lausanne Marathon, the performance of certain number of teams remains constant through the years (it is the case of team from Geneva for the marathon, for example).
        More generally, we could say that the overall performance of a team remains quite constant for very big teams (where individual results have less impact on the final, global performance). Now, regarding small teams - represented by small cities around Lausanne, disparities in their overall performance are more visible.
      </p>

      <h2 id="comparison-single-edition-with-all-events">Comparison of single edition with all events</h2>

      <plotly [url]="'./assets/json/marathon-lausanne-1999-2016-comparisons.json.zip'" [labels]="['Year']"></plotly>
      As we can notice, the overall performance of each category deteriorates over the years. This confirm again some observations we made before... However, one can remark that performance gaps stay close through the years!
    </div>
  </div>
</div>
