<div id="wrapper" [class.toggled]="menuToggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a routerLink="/">
          <img src="./assets/images/ADA-logo.png" alt="" width="210">
        </a>
      </li>
      <li>
        <a routerLink="/main">The Project</a>
      </li>
      <li>
        <a routerLink="/scraping">Part 1: Scraping Data</a>
      </li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a class="btn btn-default pull-left" (click)="menuToggled = !menuToggled">
            <i *ngIf="!menuToggled" class="fa fa-chevron-left" aria-hidden="true"></i>
            <i *ngIf="menuToggled" class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>



