#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #e3e3e3;
  box-shadow: 0 0 15px rgba(0,0,0,.05);
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 40px;
}


.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.sidebar-nav li a:hover,
.sidebar-nav li a.active {
  text-decoration: none;
  background: rgba(0,0,0,.05);
}

.sidebar-nav li a:hover {
  border-right: 3px solid #CE0016;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 180px;
  line-height: 180px;
}

.sidebar-nav > .sidebar-brand i.fa {
  font-size: 0;
}

.sidebar-nav > .sidebar-brand a {
  color: #333;
}

.sidebar-footer {
  position: absolute;
  bottom: 10px;
  width: 250px;
  margin: 0;
  list-style: none;
  padding: 0;
  text-indent: 20px;
  font-size: 2em;
}

.sidebar-footer li a {
  color: #616161;
}

.sidebar-footer li a:hover {
  color: #333;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 40px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 40px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #wrapper.toggled .sidebar-nav li {
    text-indent: 5px;
  }

  #wrapper.toggled .sidebar-nav li a {
    width: 40px;
    overflow: hidden;
    white-space: nowrap;
  }

  #wrapper.toggled .sidebar-nav > .sidebar-brand {
    line-height: 40px;
    height: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled .sidebar-nav > .sidebar-brand i.fa {
    font-size: 1.2em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled .sidebar-nav > .sidebar-brand a img {
    display: none;
  }
}

.toggle-menu {
  z-index: 99999;
  position: fixed;
  top: 15px;
}

@media(max-height:400px) {
  .sidebar-footer {
    display: none;
  }
}

#main-content {
  padding-left: 25px;
  min-height: 100vh;
}

footer#footer p {
  text-align: center;
  color: #616161;
  margin-top: 40px;
}
