<div id="wrapper" [class.toggled]="menuToggled">

  <!-- Sidebar -->
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/">
          <img src="./assets/images/ada-logo.png" title="ADA (Applied Data Analysis)" alt="Logo ADA (Applied Data Analysis) - The name of the EPFL's course" width="210">
        </a>
      </li>
      <li>
        <a routerLink="/main" routerLinkActive="active"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; The Project</a>
      </li>
      <li>
        <a routerLink="/scraping" routerLinkActive="active"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; Scraping Data</a>
      </li>
      <li>
        <a routerLink="/lausanne2016" routerLinkActive="active" ><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; Lausanne 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; Lausanne 1999-2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; Runners</a>
      </li>
    </ul>

    <ul class="sidebar-footer list-inline">
      <li><a href="https://github.com/antitoine/ADAEPFL-Project" title="Github project"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/antitoine/ADAEPFL-Project/archive/master.zip" title="Download the project"><i class="fa fa-download" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a class="btn btn-default toggle-menu" (click)="menuToggled = !menuToggled">
            <i *ngIf="!menuToggled" class="fa fa-chevron-left" aria-hidden="true"></i>
            <i *ngIf="menuToggled" class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="footer">
            <a href="https://github.com/antitoine">Antoine Chabert</a>, <a href="https://github.com/arnaudDup">Arnaud Dupeyrat</a>, <a href="https://github.com/asalihi">Arbër Salihi</a> - <a href="http://ada.epfl.ch/">Applied Data Analysis</a> - <a href="http://epfl.ch/">EPFL</a> - Copyright 2016/2017
          </p>
        </div>
      </div>
    </div>
  </div>

</div>



