<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-lg-12">
      <img src="./assets/images/study-runners-header-people-running-marathon-clipart-2.jpeg" alt="Image representing some people running a marathon" class="img-responsive" />

      <h1 class="title">Statistical study of some runners</h1>

      <h2>Summary</h2>
      <ul>
        <li><a routerLink="/runners" fragment="data-pre-processing">Data pre-processing</a></li>
        <li><a routerLink="/runners" fragment="performance-analysis">Performance analysis</a></li>
        <li>
          <a routerLink="/runners" fragment="individual-study">Individual study</a>
          <ul>
            <li><a routerLink="/runners" fragment="individual-study-performance-coefficient">Performance coefficient</a></li>
            <li><a routerLink="/runners" fragment="individual-study-weather-coefficient">Weather coefficient</a></li>
          </ul>
        </li>
      </ul>

      <h2 id="data-pre-processing">Data pre-processing</h2>

      <p>
        During the study of the marathon of Lausanne, we have found runners who for the same event (distance and location) have drastically different performances.
        We have decided to go further in our study and focus on individual performance to understand the factors having an impact on performances.
        <br>
        For instance <a href="https://www.polar.com/en/running/factors-affecting-running-heart-rate/">humidity could be one factor</a>:
      </p>
      <blockquote>
        "Your body tries to cool itself down during exercise, typically by sweating. Humidity reduces the effectiveness of sweating, which means your body temperature goes up – together with your heart rate."
      </blockquote>
      <p>
        Of course we are aware that we can't study all factors which have an impact as hydratation, , training, nutrition, altitude, etc. We try during the study to reduce the different dependent
        variables by eliminating as much effect as we can with our current dataset.
        <br>
        All data of runners have been gotten from datasport, Information about the scrapping can be found <a routerLink="/scraping" fragment="runners">here</a>
      </p>


      <div class="row row-lg-align-center">
        <div class="col-lg-4">
          <p>
            We have access to all the races from three runners randomly selected from 1999 to 2016. As we can notice from the graph above, we observe huge differences
            between the speed of the races having the same distance. Furthermore, another interesting fact is that the speed of the race seems lower for
            the race of <a href="http://www.sierre-zinal.com">31Km</a> than marathons.
            <br>
            The current study try to focus on the visualization of multiple factors that could explain those performance gaps
          </p>
          <ul>
            <li> Age </li>
            <li> Experience </li>
            <li> Training (As we don't have any personal information, we have taken Km/years in competition and the event/years) </li>
            <li> Weather </li>
          </ul>
          <p>
            After the data pre-processing, the study relies on 47 runners who have finished more than 10 races, for a total of 3535 races. Most of them are not beginners.
            Some of them have participated in more than 500 events on 17 years which means more than 2 events each month during a period of 17 years...
            <br>
            Knowing that the more races you run in a year, the shorter the training period and the opportunity for quality training you have, it seems interesting
            to find a correlation between the performance and the number of events per year.
          </p>
          <p>
            We should keep in mind that as everyone is different and reacts differently, this study is clearly individual. For this reason, the results obtained in his study should be verified on bigger dataset.
          </p>
        </div>
        <div class="col-lg-8">
          <div class="thumbnail">
            <img src="./assets/images/study-runners-runner-race-distibution.png" alt="Distribution race runners"/>
          </div>
        </div>
      </div>


      <h2 id="performance-analysis">Performance analysis</h2>

      <p>
        The current study relies on marathon of Lausanne, which is the marathon where we had the more data.
      </p>

      <div class="row row-lg-align-center">
        <div class="col-lg-8">
          <div class="thumbnail">
            <img src="./assets/images/study-runners-pace-distribution-lausanne.png" alt="Distribution pace marathon de lausanne"/>
          </div>
        </div>
        <div class="col-lg-4">
          <ul>
            <li> Sum distance (km) represents the kilometers/years in competition for each runners. </li>
            <li> Total number event represents the number event/years in competition for each runners.</li>
          </ul>
          <p>
            From an individual point of view, generally the sum distance (Km) and total event remain constants through years for a specific runner (each color represents a runner).
            From a collective point of view, there is no specific pattern form the graph above. The first two best results have been obtained by different runners with a huge difference of kilometers/years.
            <br>
            We need to individualize the study if we want to find a relation between external factors and the performance. By individualizing the study, we can isolate some missing information like age, genetic, training, etc.
          </p>
        </div>
      </div>

      <h2 id="individual-study">Individual study</h2>

      <p>
        To individualize the study, we compute some 'coefficients' for each interesting feature. A coefficient is defined by the difference between the value
        (temperature, Humidity, ect) for the current row and the value obtained for the best time of the race for the same specific race. (current_value - bestTime_value).
        <br>
        The idea behind the ‘coefficient’ is to try to isolate as much external factors as possible. We also suppose that the route of the different races does
        not change a lot between the multiple races editions as we don't have this information.
        <br>
        <i>For instance, if the temperature coefficient is positive, it means that the temperature was higher for this specific race compared to the temperature of the best time race for the same runners.</i>
      </p>

      <p>
        We split the set of runners into two groups: The first group considers runners with more than 175 races per year and the second group considers runners with less than 175 races.
        The first group represents the runners who raced a lot, as 175 events between 1999-2016 corresponds to 10 races/years. The value 175 is totally subjective, but we found interesting to study two groups of runners to
        validate if the different external factors have the same effects on regular runners.
      </p>

      <p>
        We have applied the <a href="https://plot.ly/python/normality-test/">Shapiro-Wilk</a>  test to compare the distribution of each coefficient with a gaussian.
        In a perfect world, if the coefficient has no impact on the performance, the coefficient should follow a normal law, which means that the studied parameter improves the performance
        as much as it degrades it. Please check our Notebook, if you want more information about this point..
      </p>

      <plotly [url]="'./assets/json/study-runners-distribution-age.json.zip'"></plotly>

      <p>
        The group of runners had a mean age of 52,67, which is very high but we have to keep in mind that we have data of runners from 1999.
      </p>

      <h3 id="individual-study-performance-coefficient">Performance coefficient</h3>

      <p>
        We have computed three parameters:
      </p>
      <ul>
        <li>
          <u>age coefficient:</u> difference between the age of the studied year and the year where the runner has made his best time.
        </li>
        <li>
          <u>event coefficient:</u> difference between the number of events of the studied year and the year where the runner has made his best time.
        </li>
        <li>
          <u>performance coefficient:</u> difference between the total of kilometers of the studied year and the year where the runner has made
        </li>
      </ul>

      <plotly [url]="'./assets/json/study-runners-performance-coefficient.json.zip'" [labels]="['Performance coefficient']"></plotly>

      <h3 id="individual-study-weather-coefficient">Weather coefficient</h3>

      <p>
        We have taken weather data for the following races: Lausanne Marathon, 20km de Lausanne, Morat-Fribourg, Course de l'Escalade, Sierre-Zinal, Zermatt Marathon .
        The data collected is based on an average from 6:00 AM to 20:00 PM on the weather’s data for the exact day of race. Even though the race is usually in the same period,
        the difference of temperature can differ of 10 degrees.
      </p>

      <p>
        We have computed three parameters :
      </p>
      <ul>
        <li>
          <u>wind coefficient:</u> difference between the wind speed (km/h) of the studied year and the year where the runner has made his best time.
        </li>
        <li>
          <u>humidity coefficient:</u> difference between the humidity percentage of the studied year and the year where the runner has made his best time.
        </li>
        <li>
          <u>temperature coefficient:</u> difference between the temperature in degree between the studied year and the year where the runner has made his best time.
        </li>
      </ul>

      <plotly [url]="'./assets/json/study-runners-weather-coefficient.json.zip'" [labels]="['Weather coefficient']"></plotly>

      <p>
        As conclusion, there are no big differences between experienced runners and inexperienced runners.
        <br>
        Runners got their best performance when they were younger (knowing the mean age of the group of runners is 52,47 years) and when the temperature is warmer.
        More strangely, runners got their best performance when they raced less kilometers than other years; Here are some explanations to the phenomena:
      </p>
      <ul>
        <li>
          One explication could be that runners raced more when they are getting older, but we applied a regression test and we get a R-squared value equals to 0,0066, which mean there is no linear link between the
          two variables. (Age and Kilometer/years)
        </li>
        <li>
          A lot of runners could have made other sport events not considered in our study like triathlon, cycle, walks, .... This hypothesis seems to be confirmed as this this effect disappears with the event
          coefficient.
        </li>
        <li>
          It could be an effect of the over-training.
        </li>
      </ul>

      <p>
        One other important aspect is the positive and negative impact of the wind coefficient as the force and the direction of the wind could change the
        performance of the runners.
      </p>

    </div>
  </div>
</div>
