<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <div class="thumbnail thumbnail-medium">
        <img src="./assets/images/main-runner.jpg" alt="A runner with the sun in background"/>
      </div>

      <h1 class="title">Project on DataSport<br><small>Applied Data Analysis</small></h1>

      <h2>Abstract</h2>

      <div class="row row-lg-align-center">
        <div class="col-lg-6">
          <p>
            This project aimed to focus on Lausanne Marathon and more precisely on the analysis of the different runs (10km, semi-marathon and marathon).
            To do so, we manipulated available data - from 1999 to 2016 - and used different information stored about the runners and provided by <a href="https://www.datasport.com/en/" title="DataSport Website">DataSport</a>.
          </p>

          <h3>First part: analysis of Lausanne Marathon of 2016</h3>

          <p>
            In the present part, we studied performance of runners according to different parameters like gender or age. We also analyzed the behavior of runners in different contexts (speed following the type of running, speed of male and female runners, etc.) and checked if there are some statistical differences or some patterns.
          </p>

          <h3>Second part: analysis over the years (1999-2016)</h3>

          <p>
            This part of the study focused on all runnings of Lausanne Marathon, between 1999 and 2016.
            Among the analysis we planned to do, we included a presentation of the evolution of the performance following the years. We also verified if being in group ensure better score/time and we checked, for identified groups, if we can identify an improvement of performance over the years.
            We also conducted basic analysis as in the first part.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="thumbnail thumbnail-medium">
            <img src="./assets/images/main-lausanne-by-night.jpg" alt="Picture of Lausanne, Swiss city, by night"/>
          </div>
        </div>
      </div>

      <h3>Third part: analysis of some runners</h3>

      <p>
        In the third and last part, we selected sufficient number of runners to conduct statistical analysis, like the evolution of individual performance (type of chosen running, average speed, etc.).
      </p>

      <h2>Data description</h2>

      <div class="thumbnail thumbnail-small">
        <img src="./assets/images/main-datasport-logo.jpg" alt="DataSport Logo"/>
      </div>

      <p>
        This project uses data from the <a href="https://www.datasport.com/en/">www.datasport.com</a> website, which contains sport performance of athletes over time.
      </p>

      <p>
        The website contains some data of races from the entire Switzerland.
        Moreover the website contains data throughout the years. This was useful for our study of the evolution of sport in our society and especially running, which has grown exponentially the last decade.
      </p>

      <h2>How to use visualisations</h2>

      <p>At some points in the website, we made some dynamic charts that you can manipulate to see what you want. See below some useful tips:</p>

      <div class="thumbnail">
        <img src="./assets/images/main-screeshot-plotly.png" alt="Plotly Helper"/>
        <div class="caption">
          <ol>
            <li>Select one value in every field regarding what you want to see, and wait few seconds that the graph loads</li>
            <li>These two options allow to display a comparison of all lines or just information about the point when you make an hover with the mouse</li>
            <li>Make an auto scale or reset it to the default one</li>
            <li>Zoom, move, zoom in, zoom out in the graph with your mouse</li>
            <li>Select which values to display by clicking on it to enable/disable</li>
            <li>Interact with the graph to get more information</li>
          </ol>
        </div>
      </div>

      <h2>Initial project proposal</h2>

      You can find the initial project proposal <a href="https://github.com/antitoine/ADAEPFL-Project/blob/master/README.md" title="Link to the Readme of the project">here</a>.
    </div>
  </div>
</div>
